body{
	position:relative;
	left:100px;
}

section{
	position:relative;
	left:100px;
}

.photo-image{
	width:150px;
	height:150px;
}

.image{
	position:relative;
	left:50px;
	height:150px; 
}

.map-image{
	position:relative;
	left:50px;
}

.map-image-link{
	font-size:15px;
	text-decoration: none;
	color:#555555;
	background-color: rgba( 255, 255, 255, 0.80 );
	position:relative;
	left:-80px;
	top:-3px;
	width:60px;
	height:30px;
}
